.vmodal {}

.vmodal.open .vmodal-overlay,
.vmodal.open .vmodal-window {
    opacity: 1;
    z-index: 999;
}

.vmodal.hide .vmodal-overlay,
.vmodal.hide .vmodal-window {
    opacity: 1;
    z-index: 999;
}

.vmodal.open .vmodal-window {
    transform: translateY(100px);
}

.vmodal.open .vmodal-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.vmodal.hide .vmodal-window {
    transform: translateY(-200px);
}

.vmodal.hide .vmodal-overlay {
    background: rgba(0, 0, 0, 0);
}

.vmodal-window, .vmodal-overlay {
    opacity: 0;
    z-index: -1;
}

.vmodal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.2s ease-in;
}

.vmodal-window {
    width: 600px;
    border-radius: 5px;
    background-color: #fff;
    margin: 0 auto;
    transform: translateY(-200px);
    transition: transform 0.2s ease-in;
}

.vmodal-header {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.vmodal-title {
    font-size: 1.5rem;
}

.vmodal-close {
    cursor: pointer;
}

.vmodal-body {
    padding: 10px;
}

.vmodal-body p {
    margin: 0 0 5px;
}

.vmodal-footer {
    padding: 5px 10px;
    border-top: 1px solid #eee;
}
